<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Chat App</title>
    <link rel="icon" href="./icons/logo.png" />
    <link rel="stylesheet" href="./css/grid.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        background-color: #2ecc71;
      }
      .data
      {
          background-color: crimson;
          padding: 20px;

      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="col-lg-4">
        <div class="data">
        <img src="./icons/user.png" class="user_img" alt="" />
        <h1>usr name</h1>
        <h3>user description</h3>
        <h4 class="online">online</h4>
        <h4 class="no_msg">5 messages form bbj</h4>
        </div>
      </div>
      <div class="col-lg-8">
          <div class="data">
        <img src="./icons/user.png" class="user_img" alt="" />
        <h1>usr name</h1>
        <h3>user description</h3>
        <h4 class="online">online</h4>
        <h4 class="no_msg">5 messages form bbj</h4>
        </div>
      </div>
    </div>
  </body>
</html>
